aiohttp
cachetools
discord.py
nltk
numpy
Pillow
PoE.py
async-timeout
attrs
certifi
chardet
cloudscraper
dateparser
idna
idna-ssl
lxml
multidict
pyparsing
python-dateutil
pytz
regex
requests
requests-toolbelt
six
typing-extensions
tzlocal
urllib3
websockets
yarl